@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@500&display=swap');
/*
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
COLORS
#b8eaff light blue
#618fb9 med blue
#1f3442 dark blue
*/
body{
    background: linear-gradient(180deg, rgba(184,234,255,1) 0%, rgba(97,143,185,1) 72%, rgba(31,52,66,1) 93%);
    font-family: 'Lato', sans-serif;
    color: #1f3442;
}

footer{
    background-color: rgb(31, 52, 66);
    margin-bottom: -2rem;
}
footer a, 
footer p {
    color: #618fb9;
}
.closing{
    width: 80%;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Montserrat', sans-serif;
    
}

.navbar{
    border-bottom: solid 1px #618fb9;
    padding: 2.5rem;
    font-size: 1.25rem;
}
.navbar a{
    color: #1F3442;
}

.carousel-caption{
    position: absolute;
    top: 300px;;
    right: 2rem ;
    bottom: 2rem ;
    left:100px ;
    padding-top:2rem ;
    padding-bottom:2rem ;
    text-align:left;
    width: 30%;
}
.carousel-caption h3{
    font-size: 1rem;
}
.car{
    width: 100%;
    height: 80vh;
}
.grid-container-intros{
    display: grid;
    grid-template-columns: 1fr .15fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    align-content: space-between;
    width: 70%;
    margin: 150px auto;
    height: 80vh;
}

.whatIs{
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
}
.benefits{
    grid-column: 1/2;
    grid-row: 2/3;
    width: 90%;
}
.consider{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 90%;
}
.sign{
    grid-column: 1/2;
    grid-row: 4/5;
    width: 90%;
 
}
.deskAquarium{
    grid-column: 3/4;
    grid-row: 1/5;
    justify-self: stretch;
    align-self: stretch;

}
.deskAquarium img{
    max-width: 100%;
    max-height: 100%;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.btn-primary{
    background: linear-gradient( #618fb9, #1f3442, #618fb9);
    border: none;
    border-radius: 50px;
}

.waterParams{
    background-color: #1f3442;;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    width: 80%;
    margin: 250px auto;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;

}
.waterParams h3{
    color: #1f3442;
}
.chemistryImgLink img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.wc101{
    grid-column: 1/2;
    grid-row: 1/3;
    align-self: stretch;
    justify-self: stretch;

}
.ph101{
    background: linear-gradient(180deg, rgba(250,249,119,1) 0%, rgba(243,252,161,1) 15%, rgba(209,241,156,1) 30%, rgba(174,222,160,1) 45%, rgba(161,224,169,1) 65%, rgba(137,210,165,1) 85%, rgba(97,188,189,1) 100%);
    grid-column: 2/3;
    grid-row: 1/2;
    
}
.ammonia101{
    background: linear-gradient(180deg, rgba(251,241,49,1) 0%, rgba(248,245,19,1) 15%, rgba(222,235,40,1) 30%, rgba(167,216,66,1) 45%, rgba(115,198,48,1) 65%, rgba(53,169,70,1) 85%, rgba(42,126,67,1) 100%);
    grid-column: 3/4;
    grid-row: 1/2;
    
    
}
.nitrites101{
    background: linear-gradient(180deg, rgba(167,221,205,1) 0%, rgba(175,186,216,1) 15%, rgba(154,143,183,1) 30%, rgba(149,123,170,1) 45%, rgba(163,113,164,1) 65%, rgba(162,103,159,1) 85%);
    grid-column: 2/3;
    grid-row: 2/3;
    
    
}
.nitrates101{
    background: linear-gradient(180deg, rgba(251,249,4,1) 0%, rgba(247,197,38,1) 15%, rgba(251,167,42,1) 30%, rgba(247,173,74,1) 45%, rgba(241,108,65,1) 65%, rgba(235,102,69,1) 85%, rgba(195,88,78,1) 100%);
    grid-column: 3/4;
    grid-row: 2/3;
    
    
}
.nitro101{
    grid-column: 4/5;
    grid-row: 1/3;
    align-self: center;
    justify-self: center;

    
}

.chemistryImgLink{
    position: relative;
    text-align: center;
}

.chemistryImgLinkTitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#fff;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


.social-icons{
    width: 30px;
    height: 30px;
    margin: 0 5px;
    color:#bbc2c6;
}

footer .nav-link{
    padding: 0;
}

.closing{
    padding-top:2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}
.siteMap{
    grid-column: 1/2;
    grid-row: 1/2;
}
.account{
    grid-column: 2/3;
    grid-row: 1/2;
    
}

.shopping{
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self:end;
}

.social{
    grid-column: 4/5;
    grid-row: 1/2;
    justify-self: end;
}
.gn{
   text-align: center;
   padding: 1rem;
}


.consid ul,
.consid li{
    list-style-type: none;
}

.jumbo_consideration{
    display: grid;
    grid-template-columns: 1fr .05fr 1fr;
    grid-template-rows: 1fr;
    justify-items: start;
    align-items: end;
    margin: 4rem auto;
    width: 80%;
}

.jumbo_consider_text{
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
    align-self: end;
}

.jumbo_consider_img{
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
    align-self: end;
    
}

.jumbo_consider_img img{
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    
}
.accordion-button:not(.collapsed) {
    color: #1f3442;
    background-color: #618fb9;
}

.navbar {
    padding: 2.5rem;
    font-size: 1.25rem;
}
.research{
    width: 60%;
    margin: 8rem auto;
    
}
.accordion-body {
    background-color: #fff;
}




/*
Sign In / Sign Up
*/

.logoSignIn{
   margin: .5rem auto;
}
  
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: 3rem auto;
    height: 44vh;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

.logoSignIn,
.signIn,
.signUp{
    margin: 1rem 0;
}


.profile{
    width: 80%;
    margin: 2rem auto;
}






/*
***********************
BEM Sign In Sign Up Form
***********************
*/

/*
The clouds never expect it
When it rains
But the sea changes colours
But the sea
Does not change
So with the slow graceful flow
Of age
I went forth with an age old
Desire to please
On the edge of seventeen
    ~Stevie Nicks Edge of 17
*/


.SignInContainer {
    width: 400px;
    max-width: 400px;
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    
}

.form__input,
.form__button {
    font: 500 1rem 'Quicksand', sans-serif;
}

.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

.form__message--success {
    color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #dddddd;
    outline: none;
    background: #eeeeee;
    transition: background 0.2s, border-color 0.2s;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);
}

.form__button:hover {
    background: var(--color-primary-dark);
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}

